[submodule "jpseditor"]
	path = jpseditor
	url = https://github.com/JuPedSim/jpseditor.git
[submodule "jpscore"]
	path = jpscore
	url = https://github.com/JuPedSim/jpscore.git
[submodule "jpsvis"]
	path = jpsvis
	url = https://github.com/JuPedSim/jpsvis.git
[submodule "jpsreport"]
	path = jpsreport
	url = https://github.com/JuPedSim/jpsreport.git
